# Ignorar archivos específicos
DTEPRUEBA_DEVELOPERS_ascii.xml
DTEPRUEBA_DEVELOPERS_comillas.xml
DTEPRUEBA_DEVELOPERS_v2.xml
DTEPRUEBA_DEVELOPERS.xml
DTEPRUEBA.json
dtesigned.xlm
enviodte.xml
nuevo1-prueba.xml
output.xml
